<div class="container"> 
  <div class="row">
    <div class="col">
      <h1><%= @product.name %></h1>
    </div>
    <div class="col">
      <p><strong>Price | </strong><%= @product.price %></p>
    </div>
    <div class="col">
      <p><strong>Stock | </strong><%= @product.stock %></p>
    </div>
  </div>
  <div class="row">
    
  </div>
  <div class="row">
    <div class="col">
      <p><strong>Description | </strong><%= @product.description %></p>
      <br>
      <button class="btn-dark btn-sm" type="button"><%= link_to "Edit", edit_product_path(@product) %></button>
      <button class="btn-dark btn-sm" type="button"><%= link_to "Destroy", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li></button>
    </div>
    <div class="col">
      <% if @product.image.attached? %>
        <%= image_tag(@product.image, width: 100, class: "scaling_img") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    
  </div>
  <div class="row">
    <div class="col">
      <br>
    </div>
  </div>
</div>




